* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.navbar {
	background-color: #333;
	height: 5rem;
	text-align: center;
	font-size: 4rem;
	color: white;
}

.container {
	padding: 5rem;
	display: flex;
	flex-direction: column;
}

.infocontainer {
	background: lightgrey;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
}

.mg-1 {
	margin: 5px auto;
	display: block;
	border-radius: 2px;
	border: 1px solid #333;
}
